
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Noto+Serif+Bengali:wght@500;600&family=Roboto:ital,wght@0,500;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Noto Serif Bengali', serif;
    font-family: 'Roboto', sans-serif;
}



nav > ul > li {
    display: inline;
    margin-right: 15px;
}
nav  li > a{
    text-decoration: none;
}
nav > ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 10px;
    padding: 5px;
}
nav li a {
    text-decoration: none;
    color: black;
}
nav li:hover{
    background-color: lightgray;
}

/* nested menu */
nav li .dropdowen{
    display: none;
    position: absolute;
    background-color: lightgreen ;
    padding-left: 20px;

}
nav li:hover .dropdowen {
    display: block;
}